:root {
  --dark: #282B28;
  --cont: #D36135;
  --light: #83BCA9;
  --accent-dark: #3E5641;
  --accent-light: #A24936;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: var(--dark);
}

header {
  color: var(--light);
  border-bottom: 1px solid var(--light);
  border-color: var(--light);
}

#clock {
  font-family: 'VT323', monospace;
}


.container-lg {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.container-lg > * {
  margin-block: 0.2rem;
}


/* hour cards */

/* this is responsible for the annoying top white on each hour */
.row {
  border-top: 1px solid white;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  font-size: 300;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: inherit;
  border-left: 1px solid black;
  padding: 10px;
}

.hour {
  /* background-color: #ffffff; */
  color: #000000;
  border-top: 4px solid #000000;
  border-radius: 15px;
  font-size: 1.4rem;
  overflow: hidden;
  min-width: 50px;
}

.past {
  background-color: var(--light);
  color: #000000;
}

.present {
  background-color: var(--cont);
  color: #000000;
}

.future {
  background-color: var(--accent-dark);
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
